*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 17px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 20%, 71%);
    font-size: 25px;
}

.profile{
   background: linear-gradient(rgb(193, 177, 153),rgb(122, 99, 83));
   margin-top: 10px;
   padding: 50px;
   border-radius: 35px;
}

.profile__avatar{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    
}

.profile__name{
    font-size:50px ;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.profile__city{
    font-size:30px ;
    color: white;
    text-align: center;
}

.profile__description{
    font-size:30px ;
    color: white ;
    text-align: center;
    margin-bottom: 15px;
}

section button >p:hover{
    font-size: 20px;
    background: rgb(90, 79, 58);
}

section button:first-child{
    background-color:  rgb(255, 255, 255);
}

button{
    border-radius: 10px;
    margin: 7px;
    
}
button:hover{
    background: rgb(90, 79, 58);
    font-size: 20px;
}

.dos{
    display: flex;
    flex-direction: column;
}

